body {
    font-family: Arial, sans-serif;
    background-color: #d7e3b5; /* Color beige */
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    background: #d7e3b5; /* Fondo igual al de la imagen */
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #22694c; /* Color verde oscuro */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #22694c; /* Verde oscuro */
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.editBtn {
    background-color: #ffc107; /* Amarillo */
    color: black;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.editBtn:hover {
    background-color: #e0a800;
}

#addBtn {
    background-color: #0f3d0f; /* Verde oscuro */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#addBtn:hover {
    background-color: #0c2e0c;
}
/* Estilos para el botón de Excel */
.excelBtn {
    background-color: #1f6f42; /* Verde más claro */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.excelBtn:hover {
    background-color: #185732; /* Verde más oscuro al pasar el mouse */
}

/* Estilos para el botón de PDF */
.pdfBtn {
    background-color: #d9534f; /* Rojo */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.pdfBtn:hover {
    background-color: #c9302c; /* Rojo más oscuro al pasar el mouse */
}

/* Contenedor de botones */
.button-container {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Margen superior */
}