body {
    font-family: Arial, sans-serif;
    background-color: #d7e3b5; /* Color beige */
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    background: #d7e3b5; /* Fondo igual al de la imagen */
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #22694c; /* Color verde oscuro */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #22694c; /* Verde oscuro */
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}


/* Contenedor de botones */
.button-container {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Margen superior */
}